body {
  max-width: 1440px;
  background-color: hsl(30, 38%, 92%);
  margin: 20px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto img {
  width: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.portifolio {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 980px;
}

h3 {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  opacity: 0.5;
  color: hsl(228, 12%, 48%);
  letter-spacing: .5rem;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 50px;
  width: 350px;
}

.sobre {
  list-style: none;
  font-size: 20px;
  opacity: 0.5;
  width: 350px;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
}

.preco {
  margin-top: 50px;
  list-style: none;
  font-family: 'Fraunces', serif;
  font-size: 50px;
  color: hsl(158, 36%, 37%);
}

.cut {
  font-size: 20px;
  color: hsl(228, 12%, 48%);
  opacity: 0.5;
  position: absolute;
  transform: translate(50%);
  
}

.botao {
  display: flex;
  width: 300px;
  margin-top: 50px;
  text-decoration: none;
  background: hsl(158, 36%, 37%) 20px;
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}

.botao img {
  width: 20px;
  padding: 10px;
  margin-left: 50px;
}

@media(max-width: 1440px) {

  .portifolio {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
    width: 524px;
  }
    
    .produto img {
      display: flex;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;
      width: 524px;
      height: 375px;
    }

    .descricao {
      display: flex;
      text-align: center;
      width: 375px;
      
    }
}
